* {
    margin: 0;
    padding: 0;
}
:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
        "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
        "Source Han Sans CN", sans-serif;
}

.main-container {
    overflow: hidden;
}
img {
    pointer-events: none;
}
.main-container,
.main-container * {
    box-sizing: border-box;
}

input,
select,
textarea,
button {
    outline: 0;
}

.main-container {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background: #858585;
    overflow: hidden;
}
.rectangle {
    position: relative;
    width: 694px;
    height: 648px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f3f3f3;
    z-index: 1;
    border-radius: 30px;
}
.silape-halaman-login-petugas {
    position: absolute;
    width: 689px;
    height: 148px;
    top: 15px;
    left: 5px;
    background: url(../assets/images/683cb1d4-999b-43e4-9c72-f85762d9a469.png)
        no-repeat center;
    background-size: cover;
    z-index: 8;
}
.silape {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 390px;
    height: 108px;
    top: 16px;
    left: calc(50% - 197.5px);
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 48px;
    font-weight: 400;
    line-height: 58.091px;
    text-align: center;
    z-index: 2;
}
.logo-smart-peamekasan {
    position: absolute;
    width: 440px;
    height: 440px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../assets/images/logo-smart-pamekasan.png) no-repeat center;
    background-size: cover;
    opacity: 0.15;
    z-index: 5;
}

.login-button {
    position: relative;
    width: 249px;
    height: 65px;
    top: 74%;
    left: 50%;
    transform: translate(-50%, 0);
    cursor: pointer;
    background: #00b2ff;
    border: none;
    z-index: 10;
    opacity: 1;
    border-radius: 15px;
}
.login-span {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 73px;
    height: 39px;
    top: 13px;
    left: 85px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 32px;
    font-weight: 400;
    line-height: 38.727px;
    text-align: center;
    white-space: nowrap;
    z-index: 10;
}
.username-span {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 121px;
    height: 30px;
    top: 139px;
    left: 103px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    white-space: nowrap;
    z-index: 3;
}
.username-div {
    position: absolute;
    border: none;
    padding-left: 4%;
    font-size: 20px;
    width: 517px;
    height: 65px;
    top: 178px;
    left: 89px;
    background: #cdcdcd;
    z-index: 6;
    border-radius: 70px;
}
.password-span {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 116px;
    height: 30px;
    top: 271px;
    left: 105px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    white-space: nowrap;
    z-index: 4;
}
.password-halaman-petugas {
    position: absolute;
    border: none;
    padding-left: 4%;
    font-size: 20px;
    width: 517px;
    height: 65px;
    top: 310px;
    left: 89px;
    background: #cdcdcd;
    background-size: cover;
    z-index: 7;
    border-radius: 70px;
}

@media (min-width: 360px) and (max-width: 599px) {
    /* untuk mobile */

    .rectangle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(55%);
    }
}

@media (min-width: 600px) and (max-width: 1200px) {
    /* untuk tablet */

    .rectangle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.75);
    }
}

@media (min-width: 1201px) {
    /* untuk desktop */
    .rectangle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(90%);
    }
}

/* Bagian desain biodata */

.main-container-bio {
    position: absolute;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background: #858585;
    overflow: hidden;
}
.rectangle-bio {
    position: absolute;
    width: 1098px;
    height: 526px;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f3f3f3;
    border-radius: 30px;
}
.rectangle-1-bio {
    position: absolute;
    width: 300px;
    height: 86px;
    top: 0;
    left: 0;
    background: #90ff61;
    z-index: 1;
    border-radius: 30px 0 8px 0;
}
.biodata-user {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 70px;
    top: 20px;
    left: 25px;
    color: #2c2c2c;
    font-family: Inter, var(--default-font-family);
    font-size: 40px;
    font-weight: 700;
    line-height: 48.409px;
    text-align: left;
    white-space: nowrap;
    z-index: 20;
}

.ds-buffer {
    position: absolute;
    width: 259px;
}

table {
    position: absolute;
    width: 20%;
    top: 82px;
    left: 428px;
    font-size: 24px;
    font-family: Inter, var(--default-font-family);
}

td {
    padding: 8%;
}
#dsbuffer_1 {
    position: absolute;
    width: 15%;
    top: 50%;
    left: 127px;
    transform: translate(0, -50%);
}
.bungkus_tombol {
    position: absolute;
    top: 212px;
    left: 671px;
}
div {
    position: absolute;
}
#tombol_konfirmasi {
    top: 213px;
    left: 20px;
    width: 132px;
    height: 41px;
}

#_bg__tombol_konfirmasi_ek1 {
    top: -492px;
    left: -201px;
    width: 132px;
    height: 41px;
}

#rectangle_21_ek1 {
    top: 0px;
    left: 0px;
    width: 168px;
    height: 41px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: rgba(103.06, 0, 0, 1);
}

#kirim {
    top: 6px;
    left: 35px;
    width: 188.98px;
    height: 30.14px;
    overflow: hidden;
    font-family: Inter;
    font-size: 24px;
    text-align: left;
    color: #ffffff;
}

#tombol_konfirmasi_ek2 {
    top: 213px;
    left: 213px;
    width: 132px;
    height: 41px;
}

#_bg__tombol_konfirmasi_ek3 {
    top: -492px;
    left: -357px;
    width: 132px;
    height: 41px;
}

#rectangle_21_ek2 {
    top: 0px;
    left: 0px;
    width: 160px;
    height: 41px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 1);
}

#batal {
    top: 6px;
    left: 35px;
    width: 120.98px;
    height: 30.14px;
    overflow: hidden;
    font-family: Inter;
    font-size: 24px;
    text-align: left;
    color: #ffffff;
}

#rectangle_27 {
    top: 135px;
    left: 0;
    width: 331px;
    height: 35px;
    -ms-border-radius: 145px;
    -o-border-radius: 145px;
    -moz-border-radius: 145px;
    -webkit-border-radius: 145px;
    border-radius: 145px;
    background: rgba(184.88, 184.88, 184.88, 1);
}
/* Add your custom CSS here */
@media (min-width: 360px) and (max-width: 599px) {
    /* untuk mobile */

    .main-container {
        height: 100vh;
    }
    .rectangle-bio,
    #group_13,
    .logo_smart_peamekasan {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(45%);
    }
    .rectangle-bio {
        width: 697px;
        height: 1090px;
    }
    table {
        position: absolute;
        width: 55%;
        top: 334px;
        left: 50%;
        transform: translate(-50%, 0);
        font-size: 24px;
        font-family: Inter, var(--default-font-family);
    }
    #dsbuffer_1 {
        position: absolute;
        width: 25%;
        top: 150px;
        left: 50%;
        transform: translate(-50%, 0);
    }
    #tombol_konfirmasi {
        top: 0;
        left: 0;
        width: 140px;
        height: 41px;
    }
    #tombol_konfirmasi_ek2 {
        top: 0;
        left: 213px;
        width: 132px;
        height: 41px;
    }
    #rectangle_19,
    #rectangle_21_ek1 {
        width: 170px;
    }
    #group_13 {
        width: 358px;
        height: 499px;
        transform: translate(-50%, -50%) scale(95%);
    }
    #isi_tanggapan {
        top: 184px;
        left: 2px;
    }
    #rectangle_20 {
        top: 225px;
        left: 0px;
        width: 338px;
        height: 136px;
    }
    #rectangle_21_ek2,
    #rectangle_21_ek3 {
        top: 0;
    }
    .bungkus_tombol {
        top: 872px;
        left: 50%;
        width: 55%;
        height: 86px;
        transform: translate(-50%, 0);
    }
}

@media (min-width: 600px) and (max-width: 1200px) {
    /* untuk tablet */
    .main-container {
        height: 100vh;
    }
    .rectangle-bio,
    #group_13,
    .logo_smart_peamekasan {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.65);
    }
}

@media (min-width: 1201px) {
    /* untuk desktop */
    .main-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
    }
    .rectangle-bio {
        transform: translate(-50%, -50%) scale(0.8);
    }
}
