/*
	@name halaman_dashboard_user
*/
/* Only edit this if you know what you are doing! */
body {
    margin: 0px;
    padding: 0px;
    font-family: "Arial";
}

/* Only edit this if you know what you are doing! */
img {
    pointer-events: none;
    position: absolute;
    display: block;
    margin: 0px;
    border: none;
    padding: 0px;
}

/* Only edit this if you know what you are doing! */
div {
    position: absolute;
}

#content-container {
    display: block;
    position: relative;
    width: 100%;
    height: 100vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#_bg__halaman_dashboard_user {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background: rgba(183.34, 255, 153.13, 1);
}

#logo_smart_peamekasan_2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
}

#header_hompage_silape {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 130px;
    background: rgba(66.94, 66.94, 66.94, 1);
    z-index: 100;
}

#logo_silape {
    top: 50%;
    left: 3%;
    transform: translate(0, -50%);
    width: 350px;
    height: 115px;
}

#_bg__logo_silape_ek1 {
    top: -31px;
    left: -49px;
    width: 350px;
    height: 115px;
}

#silape {
    top: 0px;
    left: 123px;
    width: 193.7px;
    height: 48.7px;
    font-family: Inter;
    font-size: 37px;
    font-weight: bold;
    text-align: left;
    color: #e3e3e3;
}

#sistem_laporan_pelayanan {
    top: 53px;
    left: 123px;
    width: 204.5px;
    height: 22.5px;
    font-family: Inter;
    font-size: 15px;
    text-align: left;
    color: #e3e3e3;
}

#rsud_dr__h__slamet_martodirdjo {
    top: 77px;
    left: 123px;
    width: 241.5px;
    height: 42.5px;
    font-family: Inter;
    font-size: 15px;
    text-align: left;
    color: #e3e3e3;
}

#image_1 {
    top: 0px;
    left: 0px;
    width: 108px;
    height: 107px;
}

.akun {
    right: 3%;
    width: 40%;
    height: 100%;
}

.akun #dsbuffer_1 {
    top: 50%;
    right: 0px;
    transform: translate(0, -50%);
    width: 92px;
    height: 92px;
}

.welcome {
    bottom: 50%;
    right: 25%;
    text-align: right;
    color: #e3e3e3;
}

.logout {
    bottom: 15%;
    right: 25%;
    padding: 2px;
    width: 60px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    background: #e3e3e3;
}
#frame_27 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 920px;
    height: 300px;
}

#_bg__frame_27_ek1 {
    top: 0px;
    left: 0px;
    width: 920px;
    height: 300px;
}

#group_18 {
    top: 0px;
    left: 0px;
    width: 228px;
    height: 300px;
}

#_bg__group_18_ek1 {
    top: 0px;
    left: 0px;
    width: 228px;
    height: 300px;
}

#rectangle_37 {
    opacity: 0.75;
    top: 0px;
    left: 0px;
    width: 228px;
    height: 300px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: rgba(217, 217, 217, 0.75);
    box-shadow: 0 2px #00000088;
    transition: 0.3s ease-in-out;
}

#rectangle_37:hover {
    opacity: 1;
    top: -2%;
    background: rgba(91, 81, 81, 0.75);
    box-shadow: -2px 4px #000000e3;
}

#rectangle_37:hover #data_diri {
    color: whitesmoke;
}

#rectangle_37:hover #polygon_4 {
    filter: brightness(150%);
}

#polygon_4 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
}

#ri_user_smile_fill {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 96px;
    height: 96px;
}

#_bg__ri_user_smile_fill_ek1 {
    top: 0px;
    left: 0px;
    width: 96px;
    height: 96px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

#vector {
    top: 8px;
    left: 8px;
    width: 80px;
    height: 80px;
}

#data_diri {
    top: 27px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 114.4px;
    height: 36.4px;

    font-family: Inter;
    font-size: 24px;
    text-align: center;
    color: #000000;
    transition: 0.6s ease-in-out;
}

#group_19 {
    top: 0px;
    left: 346px;
    width: 228px;
    height: 300px;
}

#_bg__group_19_ek1 {
    top: 0px;
    left: -346px;
    width: 228px;
    height: 300px;
}

#rectangle_38 {
    opacity: 0.75;
    top: 0px;
    left: 0px;
    width: 228px;
    height: 300px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    cursor: pointer;
    background: rgba(217, 217, 217, 0.75);
    box-shadow: 0 2px #00000088;
    transition: 0.3s ease-in-out;
}

#rectangle_38:hover {
    opacity: 1;
    top: -2%;
    background: rgba(91, 81, 81, 0.75);
    color: whitesmoke;
    box-shadow: -2px 4px #000000e3;
}

#rectangle_38:hover #pengaduan {
    color: whitesmoke;
}

/* #group_28 {
	top: 30px;
	left: 25px;
	width: 175px;
	height: 167px;
} */

#_bg__group_28_ek1 {
    top: -30px;
    left: -371px;
    width: 175px;
    height: 167px;
}

#polygon_2 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
}

#mdi_customer_service {
    top: 71px;
    left: 37px;
    width: 96px;
    height: 96px;
}

#_bg__mdi_customer_service_ek1 {
    top: 0px;
    left: 0px;
    width: 96px;
    height: 96px;
}

#vector_ek1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 72.64px;
}

#component_1_container {
    top: 0px;
    left: 0px;
    width: 175px;
    height: 127px;
}

#_bg__component_1_container_ek1 {
    top: 0px;
    left: 0px;
    width: 175px;
    height: 127px;
}

#frame_36 {
    top: 0px;
    left: 0px;
    width: 175px;
    height: 37px;
}

#_bg__frame_36_ek1 {
    top: -1px;
    left: -1px;
    width: 175px;
    height: 37px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #000000;
}

#frame_34 {
    top: 0px;
    left: 0px;
    width: 152px;
    height: 37px;
}

#_bg__frame_34_ek1 {
    top: 0px;
    left: 0px;
    width: 152px;
    height: 37px;
}

#frame_35 {
    top: 4px;
    left: 12px;
    width: 128px;
    height: 29px;
}

#_bg__frame_35_ek1 {
    top: 0px;
    left: 0px;
    width: 128px;
    height: 29px;
}

#pengaduan {
    top: 27px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 147.4px;
    height: 36.4px;
    font-family: Inter;
    font-size: 24px;
    text-align: center;
    color: #000000;
    transition: 0.6s ease-in-out;
}

#frame_35_ek2 {
    top: 3.5px;
    left: 143px;
    width: 32px;
    height: 30px;
}

#_bg__frame_35_ek3 {
    top: 0px;
    left: 0px;
    width: 32px;
    height: 30px;
}

#polygon_1 {
    top: 425.5px;
    left: 6px;
    width: 100%;
}

#group_20 {
    top: 0px;
    left: 692px;
    width: 228px;
    height: 300px;
}

#_bg__group_20_ek1 {
    top: 0px;
    left: -692px;
    width: 228px;
    height: 300px;
}

#rectangle_37_ek1 {
    opacity: 0.75;
    top: 0px;
    left: 0px;
    width: 228px;
    height: 300px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: rgba(217, 217, 217, 0.75);
    box-shadow: 0 2px #00000088;
    transition: 0.3s ease-in-out;
}

#rectangle_37_ek1:hover {
    opacity: 1;
    top: -2%;
    background: rgba(91, 81, 81, 0.75);
    box-shadow: -2px 4px #000000e3;
}

#rectangle_37_ek1:hover #ubah_password {
    color: whitesmoke;
}

#rectangle_37_ek1:hover #polygon_2_ek1 {
    filter: brightness(150%);
}

#ubah_password {
    top: 27px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 197.4px;
    height: 36.4px;
    font-family: Inter;
    font-size: 24px;
    text-align: center;
    color: #000000;
    transition: 0.6s ease-in-out;
}

#group_27 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 118.65px;
    height: 96px;
}

#_bg__group_27_ek1 {
    top: -108px;
    left: -746px;
    width: 118.65px;
    height: 96px;
}

#polygon_2_ek1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
}

#material_symbols_lock {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 96px;
    height: 96px;
}

#_bg__material_symbols_lock_ek1 {
    top: 0px;
    left: 0px;
    width: 96px;
    height: 96px;
}

#vector_ek2 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(90%);
    width: 64px;
    height: 84px;
}
@media (min-width: 360px) and (max-width: 599px) {
    /* untuk mobile */
    #_bg__halaman_dashboard_user {
        height: 840px;
    }
    #logo_smart_peamekasan_2 {
        position: fixed;
    }
    #ri_user_smile_fill,
    #material_symbols_lock,
    #polygon_2_ek1,
    #polygon_4 {
        transform: translate(-50%, -50%) scale(150%);
    }
    #pengaduan,
    #data_diri,
    #ubah_password {
        font-size: 35px;
        width: 300px;
    }
    #header_hompage_silape {
        position: fixed;
        z-index: 100;
    }
    #group_18 {
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        width: 400px;
    }
    #group_19 {
        top: 38%;
        left: 50%;
        transform: translate(-50%, 0);
        width: 400px;
    }
    #group_20 {
        top: 76%;
        left: 50%;
        transform: translate(-50%, 0);
        width: 400px;
    }
    #rectangle_37_ek1 {
        width: 400px;
        height: 400px;
    }
    #rectangle_38 {
        width: 400px;
        height: 400px;
    }
    #rectangle_37 {
        opacity: 0.75;
        width: 400px;
        height: 400px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        background: rgba(217, 217, 217, 0.75);
        box-shadow: 0 2px #00000088;
        transition: 0.3s ease-in-out;
    }
    #frame_27 {
        transform: translate(-50%, 0) scale(55%);
        top: -25%;
        left: 50%;
        width: 700px;
        height: 1300px;
    }

    #logo_smart_peamekasan_2 {
        transform: translate(-50%, -50%) scale(65%);
    }

    .akun #dsbuffer_1 {
        transform: translate(0, -50%) scale(75%);
    }

    #header_hompage_silape {
        height: 100px;
    }

    #logo_silape {
        left: -6%;
        transform: translate(0, -50%) scale(75%);
    }

    #silape {
        top: 50%;
        transform: translate(0, -50%);
    }

    #sistem_laporan_pelayanan {
        display: none;
    }

    #rsud_dr__h__slamet_martodirdjo {
        display: none;
    }

    .welcome {
        display: none;
        transform: scale(75%);
    }

    .logout {
        right: 50%;
        transform: scale(75%);
    }
}

@media (min-width: 600px) and (max-width: 1200px) {
    /* untuk tablet */
    #frame_27 {
        transform: translate(-50%, -50%) scale(75%);
    }

    #logo_smart_peamekasan_2 {
        transform: translate(-50%, -50%) scale(85%);
    }

    .akun #dsbuffer_1 {
        transform: translate(0, -50%) scale(85%);
    }

    #header_hompage_silape {
        height: 110px;
    }

    #logo_silape {
        left: 2%;
        transform: translate(0, -50%) scale(85%);
    }

    .welcome {
        right: 30%;
        transform: scale(85%);
    }

    .logout {
        right: 35%;
        transform: scale(85%);
    }
}

@media (min-width: 1201px) {
    /* untuk desktop */
    #frame_27 {
        transform: translate(-50%, -50%) scale(1);
    }
}

/* Add your custom CSS here */
