/*
	@name halaman_dashboard_petugas
*/
/* Only edit this if you know what you are doing! */

#logo_smart_peamekasan_2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
}

#header_hompage_silape {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 130px;
    background: rgba(66.94, 66.94, 66.94, 1);
}

#logo_silape {
    top: 50%;
    left: 3%;
    transform: translate(0, -50%);
    width: 350px;
    height: 115px;
}

#_bg__logo_silape_ek1 {
    top: -31px;
    left: -49px;
    width: 350px;
    height: 115px;
}

#silape {
    top: 0px;
    left: 123px;
    width: 193.7px;
    height: 48.7px;
    font-family: Inter;
    font-size: 37px;
    font-weight: bold;
    text-align: left;
    color: #e3e3e3;
}
.fluent-mdl2--account-management {
    display: inline-block;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2048 2048'%3E%3Cpath fill='black' d='M1148 1152q-83-62-179-95t-201-33q-88 0-170 23t-153 64t-129 100t-100 130t-65 153t-23 170H0q0-120 35-231t101-205t156-167t204-115q-56-35-100-82t-76-104t-47-119t-17-129q0-106 40-199t110-162T569 41T768 0q106 0 199 40t162 110t110 163t41 199q0 66-16 129t-48 119t-76 103t-101 83q60 23 113 54v152zM384 512q0 80 30 149t82 122t122 83t150 30q79 0 149-30t122-82t83-122t30-150q0-79-30-149t-82-122t-123-83t-149-30q-80 0-149 30t-122 82t-83 123t-30 149m1664 768v768H1024v-768h256v-256h512v256zm-640 0h256v-128h-256zm512 384h-128v128h-128v-128h-256v128h-128v-128h-128v256h768zm0-256h-768v128h768z'/%3E%3C/svg%3E");
}

.mdi--register {
    display: inline-block;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M15 14c-2.67 0-8 1.33-8 4v2h16v-2c0-2.67-5.33-4-8-4m-9-4V7H4v3H1v2h3v3h2v-3h3v-2m6 2a4 4 0 0 0 4-4a4 4 0 0 0-4-4a4 4 0 0 0-4 4a4 4 0 0 0 4 4'/%3E%3C/svg%3E");
}
#sistem_laporan_pelayanan {
    top: 53px;
    left: 123px;
    width: 204.5px;
    height: 22.5px;
    font-family: Inter;
    font-size: 15px;
    text-align: left;
    color: #e3e3e3;
}

#rsud_dr__h__slamet_martodirdjo {
    top: 77px;
    left: 123px;
    width: 241.5px;
    height: 42.5px;
    font-family: Inter;
    font-size: 15px;
    text-align: left;
    color: #e3e3e3;
}

#image_1 {
    top: 0px;
    left: 0px;
    width: 108px;
    height: 107px;
}

.akun {
    right: 3%;
    width: 40%;
    height: 100%;
}

.akun #dsbuffer_1 {
    top: 50%;
    right: 0px;
    transform: translate(0, -50%);
    width: 92px;
    height: 92px;
}

.welcome {
    bottom: 50%;
    right: 25%;
    text-align: right;
    color: #e3e3e3;
}

.logout {
    bottom: 15%;
    right: 25%;
    padding: 2px;
    width: 60px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    background: #e3e3e3;
}

#group_20 {
    position: relative;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%) scale(75%);
    width: 500px;
    height: 650px;
}

#_bg__group_20_ek1 {
    top: -415px;
    left: -338px;
    width: 764px;
    height: 300px;
}

#group_19 {
    top: 0px;
    left: 268px;
    width: 228px;
    height: 300px;
}

#_bg__group_19_ek1 {
    top: -415px;
    left: -606px;
    width: 228px;
    height: 300px;
}

#rectangle_38 {
    opacity: 0.75;
    top: 0px;
    left: 0px;
    width: 228px;
    height: 300px;
    background: rgba(226.31, 187.65, 187.65, 0.75);
    border-radius: 6px;
    box-shadow: 0 2px #00000088;
    transition: 0.3s ease-in-out;
}

#rectangle_38:hover {
    opacity: 1;
    top: -2%;
    background: rgba(91, 81, 81, 0.75);
    color: whitesmoke;
    box-shadow: -2px 4px #000000e3;
}

#rectangle_38:hover #data_laporan {
    color: whitesmoke;
}

#rectangle_38:hover #polygon_3 {
    filter: brightness(150%);
}

#rectangle_39 {
    opacity: 0.75;
    top: 0px;
    left: 0px;
    width: 228px;
    height: 300px;
    background: rgba(226.31, 187.65, 187.65, 0.75);
    border-radius: 6px;
    box-shadow: 0 2px #00000088;
    transition: 0.3s ease-in-out;
}

#rectangle_39:hover {
    opacity: 1;
    top: -2%;
    background: rgba(91, 81, 81, 0.75);
    color: whitesmoke;
    box-shadow: -2px 4px #000000e3;
}

#rectangle_39:hover #data_diri1 {
    color: whitesmoke;
}

#rectangle_39:hover #polygon_2 {
    filter: brightness(150%);
}

#data_laporan {
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 164.4px;
    height: 36.4px;
    font-family: Inter;
    font-size: 24px;
    text-align: center;
    color: #000000;
    transition: 0.6s ease-in-out;
}

#group_30 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 118.65px;
    height: 96px;
}

#_bg__group_30_ek1 {
    top: -517px;
    left: -660px;
    width: 118.65px;
    height: 96px;
}

#polygon_3 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    transition: 0.3s ease-in-out;
}

#carbon_report_data {
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    transform: translate(-50%, -50%);
}
.oui--app-reporting {
    display: inline-block;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cg fill='black'%3E%3Cpath d='M25 5h-.17v2H25a1 1 0 0 1 1 1v20a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h.17V5H7a3 3 0 0 0-3 3v20a3 3 0 0 0 3 3h18a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3'/%3E%3Cpath d='M23 3h-3V0h-8v3H9v6h14zm-2 4H11V5h3V2h4v3h3z'/%3E%3Cpath d='M10 13h12v2H10zm0 5h12v2H10zm0 5h12v2H10z' class='ouiIcon__fillSecondary'/%3E%3C/g%3E%3C/svg%3E");
}
#_bg__carbon_report_data_ek1 {
    top: 0px;
    left: 0px;
    width: 96px;
    height: 96px;
}

#vector {
    top: 42px;
    left: 30px;
    width: 36px;
    height: 30px;
}

#vector_ek1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 66px;
    height: 84px;
}

#group_18 {
    top: 0px;
    left: 0px;
    width: 228px;
    height: 300px;
}

#_bg__group_18_ek1 {
    top: -415px;
    left: -338px;
    width: 228px;
    height: 300px;
}

#rectangle_37 {
    opacity: 0.75;
    top: 0px;
    left: 0px;
    width: 228px;
    height: 300px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: rgba(226.31, 187.65, 187.65, 0.75);
    box-shadow: 0 2px #00000088;
    transition: 0.3s ease-in-out;
}

#rectangle_37:hover {
    opacity: 1;
    top: -2%;
    background: rgba(91, 81, 81, 0.75);
    box-shadow: -2px 4px #000000e3;
}

#rectangle_37:hover #feedback_laporan {
    color: whitesmoke;
}

#rectangle_37:hover #polygon_4 {
    filter: brightness(150%);
}

#group_31 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 118.65px;
    height: 96px;
}

#_bg__group_31_ek1 {
    top: -517px;
    left: -392px;
    width: 118.65px;
    height: 96px;
}

#polygon_4 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    transition: 0.3s ease-in-out;
}

#ri_user_smile_fill {
    top: 0px;
    left: 12px;
    width: 96px;
    height: 96px;
}

#_bg__ri_user_smile_fill_ek1 {
    top: 0px;
    left: 0px;
    width: 96px;
    height: 96px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

#flat_color_icons_feedback {
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    transform: translate(-50%, -50%);
}

#_bg__flat_color_icons_feedback_ek1 {
    top: 0px;
    left: 0px;
    width: 80px;
    height: 80px;
}

#vector_ek2 {
    top: px;
    left: 6.67px;
    width: 66.67px;
    height: 68.33px;
}

#vector_ek3 {
    top: 18.33px;
    left: 20px;
    width: 40px;
    height: 36.67px;
}

#vector_ek4 {
    top: 22.67px;
    left: 30px;
    width: 20px;
    height: 13px;
}

#vector_ek5 {
    top: 28.33px;
    left: 6.67px;
    width: 66.67px;
    height: 40px;
}

#vector_ek6 {
    top: 33.33px;
    left: 36.67px;
    width: 6.67px;
    height: 13.33px;
}

#feedback_laporan {
    top: 21px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    width: 217.4px;
    height: 36.4px;
    font-family: Inter;
    font-size: 24px;
    text-align: center;
    color: #000000;
    transition: 0.6s ease-in-out;
}

#group_18_ek2 {
    top: 350px;
    left: 0px;
    width: 228px;
    height: 300px;
}

#_bg__group_18_ek3 {
    top: -415px;
    left: -874px;
    width: 228px;
    height: 300px;
}

#rectangle_37_ek1 {
    opacity: 0.75;
    top: 0px;
    left: 0px;
    width: 228px;
    height: 300px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: rgba(226.31, 187.65, 187.65, 0.75);
    box-shadow: 0 2px #00000088;
    transition: 0.3s ease-in-out;
}

#rectangle_37_ek1:hover {
    opacity: 1;
    top: -2%;
    background: rgba(91, 81, 81, 0.75);
    box-shadow: -2px 4px #000000e3;
}

#rectangle_37_ek1:hover #data_diri {
    color: whitesmoke;
}

#rectangle_37_ek1:hover #polygon_2 {
    filter: brightness(150%);
}

#group_29 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 118.65px;
    height: 96px;
}

#_bg__group_29_ek1 {
    top: -517px;
    left: -928px;
    width: 118.65px;
    height: 96px;
}

#polygon_2 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    transition: 0.3s ease-in-out;
}

#ri_user_smile_fill_ek2 {
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    transform: translate(-50%, -50%);
}
.fluent-mdl2--report-library-mirrored {
    display: inline-block;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2048 2048'%3E%3Cpath fill='black' d='M608 128q45 0 77 9t58 24t46 31t40 31t44 23t55 10h992q27 0 50 10t40 27t28 41t10 50v384h-128V384H928q-31 0-54 9t-44 24t-41 31t-45 31t-58 23t-78 10H128v1152h128v128H0V256q0-27 10-50t27-40t41-28t50-10zm0 256q24 0 42-4t33-13t29-20t32-27q-17-15-31-26t-30-20t-33-13t-42-5H128v128zm1440 512v1152H384V896zm-128 128H512v896h1408zm-896 256H640v-128h384zm-256 128h256v128H768zm0 256h256v128H768zm1024 128h-640v-640h640zm-128-512h-384v384h384z'/%3E%3C/svg%3E");
}

#_bg__ri_user_smile_fill_ek3 {
    top: 0px;
    left: 0px;
    width: 96px;
    height: 96px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

#vector_ek7 {
    top: 8px;
    left: 8px;
    width: 80px;
    height: 80px;
}

#data_diri {
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 114.4px;
    height: 36.4px;
    font-family: Inter;
    font-size: 24px;
    text-align: center;
    color: #000000;
    transition: 0.6s ease-in-out;
}
#data_diri1 {
    top: 27px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 114.4px;
    height: 36.4px;
    font-family: Inter;
    font-size: 24px;
    text-align: center;
    color: #000000;
    transition: 0.6s ease-in-out;
}
#group_18_ek3 {
    top: 350px;
    left: 268px;
    width: 228px;
    height: 300px;
}

.list_dropdown {
    display: none;
    position: absolute;
    overflow: hidden;
    min-width: 160px;
    background: #e3e3e3;
    top: 25%;
    left: 10%;
    border-radius: 4px;
    box-shadow: -2px 2px 5px black;
}

.list_dropdown a {
    color: black;
    text-decoration: none;
    padding: 12px 18px;
    display: block;
}

.list_dropdown a:hover {
    background: gold;
}
#rectangle_37:hover .list_dropdown {
    display: block;
}

#rectangle_39:hover .list_dropdown {
    display: block;
}
/* Add your custom CSS here */
@media (min-width: 360px) and (max-width: 599px) {
    /* untuk mobile */
    #main-container {
        height: 850px;
    }
    .list_dropdown {
        display: none;
        position: absolute;
        overflow: hidden;
        min-width: 250px;
        background: #e3e3e3;
        top: 25%;
        left: 10%;
        border-radius: 4px;
        font-size: 25px;
        box-shadow: -2px 2px 5px black;
    }

    #_bg__halaman_dashboard_petugas {
        height: 1200px;
    }
    #header_hompage_silape {
        position: fixed;
        z-index: 100;
    }
    #group_18 {
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        width: 400px;
    }
    #group_19 {
        top: 38%;
        left: 50%;
        transform: translate(-50%, 0);
        width: 400px;
    }
    #group_18_ek2 {
        top: 76%;
        left: 50%;
        transform: translate(-50%, 0);
        width: 400px;
    }
    #rectangle_37_ek1 {
        width: 400px;
        height: 400px;
    }
    #rectangle_38,
    #rectangle_39 {
        width: 400px;
        height: 400px;
    }
    #rectangle_37 {
        opacity: 0.75;
        width: 400px;
        height: 400px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        background: rgba(217, 217, 217, 0.75);
        box-shadow: 0 2px #00000088;
        transition: 0.3s ease-in-out;
    }
    #group_20 {
        transform: translate(-50%, 0) scale(50%);
        top: -25%;
        left: 50%;
        width: 700px;
        height: 1300px;
    }
    #feedback_laporan,
    #data_laporan,
    #data_diri,
    #data_diri1 {
        font-size: 35px;
        width: 300px;
    }

    #polygon_4,
    #polygon_3,
    #polygon_2 {
        width: 150%;
    }
    #flat_color_icons_feedback,
    #carbon_report_data,
    #ri_user_smile_fill_ek2 {
        transform: translate(-50%, -50%) scale(1.5);
    }
    #logo_smart_peamekasan_2 {
        transform: translate(-50%, -50%) scale(65%);
    }

    .akun #dsbuffer_1 {
        transform: translate(0, -50%) scale(75%);
    }

    #header_hompage_silape {
        height: 100px;
    }

    #logo_silape {
        left: -4%;
        transform: translate(0, -50%) scale(75%);
    }

    #silape {
        top: 50%;
        transform: translate(0, -50%);
    }

    #sistem_laporan_pelayanan {
        display: none;
    }

    #rsud_dr__h__slamet_martodirdjo {
        display: none;
    }

    .welcome {
        display: none;
        transform: scale(75%);
    }

    .logout {
        right: 50%;
        transform: scale(75%);
    }
    #logo_smart_peamekasan_2 {
        position: fixed;
    }
    #group_18_ek3 {
        top: 114%;
        left: 50%;
        transform: translate(-50%, 0);
        width: 400px;
    }
}

@media (min-width: 600px) and (max-width: 1200px) {
    /* untuk tablet */
    #group_20 {
        transform: translate(-50%, -50%) scale(75%);
    }

    #logo_smart_peamekasan_2 {
        transform: translate(-50%, -50%) scale(85%);
    }

    .akun #dsbuffer_1 {
        transform: translate(0, -50%) scale(85%);
    }

    #header_hompage_silape {
        height: 110px;
    }

    #logo_silape {
        left: 2%;
        transform: translate(0, -50%) scale(85%);
    }

    .welcome {
        right: 30%;
        transform: scale(85%);
    }

    .logout {
        right: 35%;
        transform: scale(85%);
    }
}

@media (min-width: 1201px) {
    /* untuk desktop */
}
