/*
	@name halaman_input_tanggapan_laporan
*/
/* Only edit this if you know what you are doing! */
body {
    margin: 0px;
    padding: 0px;
    font-family: "Arial";
    overflow-x: hidden;
}

/* Only edit this if you know what you are doing! */
img {
    pointer-events: none;
    position: absolute;
    /* display: block; */
    margin: 0px;
    border: none;
    padding: 0px;
}

/* Only edit this if you know what you are doing! */
div {
    position: absolute;
}
span {
    position: relative;
    top: 25%;
    left: 10%;
}

#content-container {
    /* display: block; */
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#_bg__halaman_input_tanggapan_laporan {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background: rgba(133.87, 133.87, 133.87, 1);
}

#group_32 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1098px;
    height: 513px;
}

#_bg__group_32_ek1 {
    top: -138px;
    left: -149px;
    width: 1098px;
    height: 513px;
}

#rectangle_18 {
    top: 0px;
    left: 0px;
    width: 1098px;
    height: 513px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    background: rgba(243.31, 243.31, 243.31, 1);
}

#logo_smart_peamekasan_2 {
    top: 35px;
    left: 329px;
    width: 440px;
    height: 440px;
}

#rectangle_21 {
    top: 0px;
    left: 0px;
    width: 397px;
    height: 86px;
}

#input_tanggapan {
    top: 16px;
    left: 34px;
    width: 360px;
    height: 82px;
    overflow: hidden;
    font-family: Inter;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    color: #2c2c2c;
}

#group_13 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 946px;
    height: 293px;
}

#_bg__group_13_ek1 {
    top: -279px;
    left: -181px;
    width: 946px;
    height: 293px;
}

#kriteria_laporan {
    top: 1px;
    left: 2px;
    width: 161px;
    height: 30px;
    overflow: hidden;
    font-family: Inter;
    font-size: 20px;
    text-align: left;
    color: #000000;
}

#rectangle_19 {
    top: 40px;
    border: none;
    left: 0px;
    width: 331px;
    height: 35px;
    -ms-border-radius: 70px;
    -o-border-radius: 70px;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
    background: rgba(184.88, 184.88, 184.88, 1);
}
#rectangle_18 .ion--arrow-back-circle {
    display: flex;
    position: absolute;
    top: 6%;
    left: 90%;
    width: 56px;
    height: 56px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' d='M48 256c0 114.87 93.13 208 208 208s208-93.13 208-208S370.87 48 256 48S48 141.13 48 256m212.65-91.36a16 16 0 0 1 .09 22.63L208.42 240H342a16 16 0 0 1 0 32H208.42l52.32 52.73A16 16 0 1 1 238 347.27l-79.39-80a16 16 0 0 1 0-22.54l79.39-80a16 16 0 0 1 22.65-.09'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    z-index: 10;
}
#nama_pelapor {
    top: 96px;
    left: 2px;
    width: 146px;
    height: 30px;
    overflow: hidden;
    font-family: Inter;
    font-size: 20px;
    text-align: left;
    color: #000000;
}

#rectangle_21_ek1 {
    top: 135px;
    left: 0px;
    width: 331px;
    height: 35px;
    -ms-border-radius: 70px;
    -o-border-radius: 70px;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
    background: rgba(184.88, 184.88, 184.88, 1);
}

#rectangle_20 {
    position: relative;
    padding: 2%;
    text-indent: 4%;
    top: 34px;
    left: 509px;
    width: 437px;
    height: 259px;
    border: none;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(184.88, 184.88, 184.88, 1);
}

#isi_tanggapan {
    top: 0px;
    left: 509px;
    width: 242px;
    height: 30px;
    overflow: hidden;
    font-family: Inter;
    font-size: 20px;
    text-align: left;
    color: #000000;
}

#tombol_konfirmasi {
    top: -41px;
    left: 20px;
    width: 132px;
    height: 41px;
}

#_bg__tombol_konfirmasi_ek1 {
    top: -492px;
    left: -201px;
    width: 132px;
    height: 41px;
}

#rectangle_21_ek2 {
    top: 0px;
    left: 0px;
    width: 132px;
    height: 41px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: rgba(103.06, 0, 0, 1);
    cursor: pointer;
    transition: 0.6s ease-in;
}

#rectangle_21_ek2:hover {
    background: rgb(148, 0, 0);
}

#kirim {
    position: absolutes;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    width: 80.98px;
    height: 30.14px;
    overflow: hidden;
    font-family: Inter;
    font-size: 24px;
    color: #ffffff;
}

#tombol_konfirmasi_ek2 {
    top: -41px;
    left: 176px;
    width: 132px;
    height: 41px;
}

#_bg__tombol_konfirmasi_ek3 {
    top: -492px;
    left: -357px;
    width: 132px;
    height: 41px;
}

#rectangle_21_ek3 {
    top: 0px;
    left: 0px;
    width: 132px;
    height: 41px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 1);
    cursor: pointer;
    transition: 0.6s ease-in;
}
#rectangle_21_ek3:hover {
    background: rgb(64, 64, 64);
}
#batal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30.14px;
    overflow: hidden;
    font-family: Inter;
    font-size: 24px;
    text-align: left;
    color: #ffffff;
}

/* Add your custom CSS here */
@media (min-width: 360px) and (max-width: 599px) {
    /* untuk mobile */

    #rectangle_18,
    #logo_smart_peamekasan_2,
    #group_13 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(55%);
    }
    #rectangle_18 {
        width: 697px;
        height: 1090px;
    }
    #rectangle_19,
    #rectangle_21_ek1 {
        width: 270px;
    }
    #group_13 {
        width: 358px;
        height: 499px;
        transform: translate(-50%, -50%) scale(95%);
    }
    #isi_tanggapan {
        top: 184px;
        left: 2px;
    }
    #rectangle_20 {
        top: 225px;
        left: 0px;
        width: 338px;
        height: 136px;
    }
    #rectangle_21_ek2,
    #rectangle_21_ek3 {
        top: 0;
    }
    .bungkus_tombol {
        top: 453px;
        left: 50%;
        width: 95%;
        transform: translate(-50%, 0);
    }
    #rectangle_18 .ion--arrow-back-circle {
        display: flex;
        position: absolute;
        top: 21px;
        left: 615px;
        width: 56px;
        height: 56px;
        --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' d='M48 256c0 114.87 93.13 208 208 208s208-93.13 208-208S370.87 48 256 48S48 141.13 48 256m212.65-91.36a16 16 0 0 1 .09 22.63L208.42 240H342a16 16 0 0 1 0 32H208.42l52.32 52.73A16 16 0 1 1 238 347.27l-79.39-80a16 16 0 0 1 0-22.54l79.39-80a16 16 0 0 1 22.65-.09'/%3E%3C/svg%3E");
        background-color: currentColor;
        -webkit-mask-image: var(--svg);
        mask-image: var(--svg);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
        z-index: 10;
    }
}

@media (min-width: 600px) and (max-width: 1200px) {
    /* untuk tablet */
    #content-container {
        height: 100vh;
    }
    #rectangle_18,
    #group_13,
    #logo_smart_peamekasan_2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.65);
    }
}

@media (min-width: 1201px) {
    /* untuk desktop */
    #content-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
    }
}
